# Demo - Create Create Power BI Reports

Enable quick creation to explore the data, report and assists the team in automating report creation

In [1]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

import pandas as pd

### Authenticate to Power BI

Use Device authentication to get the token

In [2]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code NVKMPSZLL to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

### Import and process data
Get the data in CSV and point to the CSV File

In [13]:
csv_data_file_path = "ZZ_Sales Analysis Dashboard.csv"

In [14]:
# Import sample CSV as a pandas DataFrame
df = pd.read_csv(csv_data_file_path)

# Display DataFrame
df.head()

,Margin,Quantity sold,Sales revenue,State,City,Year,Quarter,Lines,Category,SKU number,Month,Month Name
0,245.8,9,891,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",138627,9,September
1,3456.9,65,9795,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",146552,7,July
2,4787.0,97,13915,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",146552,8,August
3,131.4,2,338,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",146552,9,September
4,189.6,3,407,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",151807,7,July

In [15]:
# Preprocess data if needed

#Display updated DataFrame
df.head()

,Margin,Quantity sold,Sales revenue,State,City,Year,Quarter,Lines,Category,SKU number,Month,Month Name
0,245.8,9,891,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",138627,9,September
1,3456.9,65,9795,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",146552,7,July
2,4787.0,97,13915,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",146552,8,August
3,131.4,2,338,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",146552,9,September
4,189.6,3,407,California,Los Angeles,2014,Q3,Accessories,"Belts,bags,wallets",151807,7,July

### Create quick Power BI visualization
Auto generate the report adn interact with it to make any modifications and save it

In [16]:
# Create a Power BI report from your data
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

### Power BI event handlers

#### Set quick visualization loaded event handler

In [17]:
def loaded_callback(event_details):
    print('Quick visualize has loaded')

PBI_visualize.on('loaded', loaded_callback)

#### Set quick visualization rendered event handler

In [18]:
def rendered_callback(event_details):
    print('Quick visualize has rendered')

PBI_visualize.on('rendered', rendered_callback)

#### Set quick visualization saved event handler

In [19]:
def saved_callback(event_details):
    print('Quick visualize has saved the report')

PBI_visualize.on('saved', saved_callback)

In [23]:
# Render new report
PBI_visualize

QuickVisualize()

Quick visualize has loaded
Quick visualize has rendered
Quick visualize has rendered
Quick visualize has saved the report

### Configure report size
Run the following code to configure the size of the embedded report output, to ensure the best fit in your notebook.

### Load saved report
Once the report is saved above, you can view the report by loading the saved report

In [24]:
report = PBI_visualize.get_saved_report()

In [25]:
#render the saved report 
report

Report()

You can interact with this report as part of your notebook. To learn more, visit our [documentation](https://github.com/microsoft/powerbi-jupyter/blob/main/DOCUMENTATION.md#PowerBI-report-embedding-widget) or the report embedding [demo](https://github.com/microsoft/powerbi-jupyter/blob/main/demo/Embed%20Power%20BI%20report%20demo.ipynb).