# Demo - Create Power BI Reports Quickly in Jupyter Notebooks
The following notebook demonstrates how to quickly create Power BI reports from your data in Jupyter notebooks. 
The notebook will walk through the steps of authenticating to Power BI, importing and processing data, and auto-generating a Power BI report, all within the notebook.

These reports can be used to explore your data, or as a starting point for creating a custom report. Interacting with the report is simple and empowers you to explore your data with just a few simple steps.

In [1]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

import pandas as pd

### Authenticate to Power BI

#### The following authentication methods can be used to authenticate the user and get the access token:

- [Device flow authentication](https://msal-python.readthedocs.io/en/latest/#msal.PublicClientApplication.acquire_token_by_device_flow)
    
    Code snippet:
    ``` py
  from powerbiclient.authentication import DeviceCodeLoginAuthentication
  device_auth = DeviceCodeLoginAuthentication()
    ```
- [Interactive authentication](https://msal-python.readthedocs.io/en/latest/#msal.PublicClientApplication.acquire_token_interactive)
    
    Code snippet:
    ``` py
  from powerbiclient.authentication import InteractiveLoginAuthentication
  interactive_auth = InteractiveLoginAuthentication()    
    ```

Note: Either use auth object created or access token acquired above while creating the report instance

#### Run the cell below and follow the steps in the output to obtain the auth object using the Device Flow Authentication method for the demo notebook

In [2]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code SCBVWSBYZ to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

### Import and process data
The code below is used to import a sample dataset as a pandas DataFrame and preform basic preprocessing on it. Make sure you've downloaded the sample csv file, located in the Demo folder

In [3]:
# Import sample CSV as a pandas DataFrame
df = pd.read_csv('Financial Sample.csv')

# Display DataFrame
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Montana,High,200.0,5,350,70000.0,9800.0,60200.0,52000.0,8200.0,5/1/2014,5,May,2014
1,Small Business,Germany,Carretera,Low,214.0,3,300,64200.0,1284.0,62916.0,53500.0,9416.0,10/1/2013,10,October,2013
2,Small Business,Germany,VTT,Low,214.0,250,300,64200.0,1284.0,62916.0,53500.0,9416.0,10/1/2013,10,October,2013
3,Midmarket,Canada,Paseo,Low,218.0,10,15,3270.0,130.8,3139.2,2180.0,959.2,9/1/2014,9,September,2014
4,Government,Germany,Paseo,High,241.0,10,20,4820.0,482.0,4338.0,2410.0,1928.0,10/1/2014,10,October,2014

In [4]:
# Preprocessing - remove columns, limit to products with over 1000 units sold, and create a binary column indicating whether a product was discounted or not
df = df.drop(['Month Number', 'Month Name', 'Year'], axis=1)
df = df.loc[df['Units Sold'] > 1000]
df = df.fillna('')
df['Discounted'] = df['Discount Band'] != ''

#Display updated DataFrame
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Discounted
201,Government,Germany,Velo,Medium,1001.0,120,20,20020.0,1201.2,18818.8,10010.0,8808.8,8/1/2014,True
202,Channel Partners,Mexico,VTT,High,1005.0,250,12,12060.0,1326.6,10733.4,3015.0,7718.4,9/1/2013,True
203,Government,Germany,Paseo,,1006.0,10,350,352100.0,0.0,352100.0,261560.0,90540.0,6/1/2014,False
204,Government,Germany,Velo,,1006.0,120,350,352100.0,0.0,352100.0,261560.0,90540.0,6/1/2014,False
205,Small Business,United States of America,Carretera,High,1010.0,3,300,303000.0,42420.0,260580.0,252500.0,8080.0,10/1/2014,True

### Create quick Power BI visualization
Run the code below to use the authentication object and DataFrame obtained above to create a Power BI report and render the report to the notebook.
The output will be an autogenerated report within a few seconds. You can interact with the report, configure the data fields, edit the report layout, and save the report to Power BI.

Learn more here - [Interacting with autogenerated "quick" reports](https://learn.microsoft.com/en-us/power-bi/create-reports/service-interact-quick-report)

To create a new report, simply run the cells below again.

Create a report instance:

In [ ]:
# Create a Power BI report from your data
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

### Power BI event handlers

#### Set quick visualization loaded event handler

In [ ]:
def loaded_callback(event_details):
    print('Quick visualize has loaded')

PBI_visualize.on('loaded', loaded_callback)

#### Set quick visualization rendered event handler

In [ ]:
def rendered_callback(event_details):
    print('Quick visualize has rendered')

PBI_visualize.on('rendered', rendered_callback)

#### Set quick visualization saved event handler

In [ ]:
def saved_callback(event_details):
    print('Quick visualize has saved the report')

PBI_visualize.on('saved', saved_callback)

In [ ]:
# Render new report
PBI_visualize

### Configure report size
Run the following code to configure the size of the embedded report output, to ensure the best fit in your notebook.

In [ ]:
# Set new width and height for the container
PBI_visualize.set_size(400, 600)

### Load saved report
Once you're happy with your report, you can either keep it in the notebook, or save it to Power BI. The code block below demonstrates how to load the report again using the Power BI library after you've saved it. This can be done as long as the kernel is still active. 
Alternatively, you can load any report using the group_id and report_id parameters, as explained [here](https://github.com/microsoft/powerbi-jupyter/blob/main/DOCUMENTATION.md#__init__-report).

In [ ]:
report = PBI_visualize.get_saved_report()

### Load report in output cell

In [ ]:
#render report 
report

You can interact with this report as part of your notebook. To learn more, visit our [documentation](https://github.com/microsoft/powerbi-jupyter/blob/main/DOCUMENTATION.md#PowerBI-report-embedding-widget) or the report embedding [demo](https://github.com/microsoft/powerbi-jupyter/blob/main/demo/Embed%20Power%20BI%20report%20demo.ipynb).